.music-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.image-container {
  display: flex;
}
.track-image {
  height: 150px;
  width: 200px;
  border-radius: 15px;
  margin-right: 30px;
}
.name-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.name {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.genre {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #3b82f6;
  padding-top: 10px;
  margin-top: 0px;
}
.duration-container {
  display: flex;
}
.duration {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
}
.delete-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 20px;
}
